<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ismartz</title>
        <meta name="description" content="Create a FREE CMS Website instantly preview now">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/font-awesome.min.css">
		 <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<!--header-->
		<header>
		<!--top bar-->
			<div class="top-bar">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<p>Create a FREE CMS Website instantly preview now!</p>
							<button><a href="">Create My FREE Website</a></button>
						</div>
					</div>
				</div>
			</div>
		
		<!--nav bar-->
		
		<div class="top-nav-menu">
			<nav class="navbar navbar-default">
				<div class="container">
				<div class="row">
				<div class="col-sm-12">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					  <a class="navbar-brand" href="#"><img class="img-responsive" src="img/logo.png" alt="logo"/></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			
					  <ul class="nav navbar-nav navbar-right">
						<li><a href="index.html">HOME</a></li>
						<li><a href="pricing.html">FEATURES<i class="fa fa-caret-down"></i>
</a>
							<ul>
								<li><a href="creative-dash.html"> Section 1</a></li>
								<li><a href="dashbord.html">Section 1</a></li>
								<li><a href="">Section 1</a></li>
							</ul>
						</li>
						<li><a href="search.html">DOMAINS</a></li>
						<li><a href="login.html">CLIENT LOGIN</a></li>
						<li><a href="search-notfound.html">SIGN UP</a></li>
						<li><a href="contact.html">CONTACT</a></li>
					
					  </ul>
					</div><!-- /.navbar-collapse -->
					</div>
					</div>
				</div><!-- /.container-fluid -->
			</nav>
		
		</div>
			
		</header> <!--End header-->
	
	

		<!--contact form-->
		<section id="contact-section">
		<img class="location-pin" src="img/locationpin.png" alt="" />
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-sm-8">
							<h2 class="contact-title">Get in touch with us!</h2>
							<p class="contact-sub-title">Send us an email and we’ll get back to you as soon as we can. </p>
							<form>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
										</div>
										
										<div class="form-group">
											
											<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
										</div>
										<div class="form-group">
											
											<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Subject">
										</div>
											
									</div>
									<div class="col-sm-6 col-xs-8">
										<textarea class="form-control" rows="7"  placeholder="Message" ></textarea>
									</div>
									<div class="col-sm-12 col-xs-4">
										<button class="sub-btn" type="submit">SEND EMAIL</button>
									</div>
								</div>
							</form>
						</div>			
						
						<div class="col-sm-4">
							<div class="company-name">
								<h2>JA Nuevo</h2>
								<p>Vestibulum iaculis fringilla volutpat. Suspendisse potenti facilis quis.</p>
							</div>
							<div class="contact-info">
								<h2>Contact</h2>
								<ul>
									<li><img src="img/loc.png" alt="" />12  consectetur, Adipiscing, Elit</li>
									<li><img src="img/phon.png" alt="" />+101 1564 999</li>
									<li><img src="img/phone1.png" alt="" /> +21 3476 858</li>
									<li><img src="img/site.png" alt="" />http://www.joomlart.com</li>
								</ul>
							</div>

							<div class="contact-social">
								<ul>
								
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus"></i></a></li>
									<li><a href=""><i class="fa fa-youtube-play"></i></a></li>
									<li><a href=""><i class="fa fa-pinterest-p"></i></a></li>
								
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!--footer section-->
		<footer>
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="border-line">
								<span><i class="fa fa-map-marker"></i>Home</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="single-footer">
								<h4> Sitemap</h4>
								<ul>
									<li><a href="">Home</a></li>
									<li><a href="">Service</a></li>
									<li><a href="">Portfolio</a></li>
									<li><a href="">About</a></li>
									<li><a href="">Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-footer">
								<h4> Quick Link</h4>
								<ul>
									<li><a href="">Theme Restore</a></li>
									<li><a href="">Cloud Hosting</a></li>
									<li><a href="">Plugin & Addons</a></li>
									<li><a href="">Hidden Feature</a></li>
									<li><a href="">Why Choose Us</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-footer">
								<h4> Quick Link 2</h4>
								<ul>
									<li><a href="">Web Design</a></li>
									<li><a href="">UI/UX Design</a></li>
									<li><a href="">Theme Migration</a></li>
									<li><a href="">Design Philosophy</a></li>
									<li><a href=""> We Love Coffe</a></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="single-footer">
								<h4> Contact Us</h4>
								<span>
								<i class="fa fa-map-marker"></i>
								<p>ismartz<br>international</p>
								</span>
								<span>
								<i class="fa fa-phone"></i>
								262.102.365
								</span>
								<span>
								<i class="fa fa-envelope"></i>
								info@ismartz.com
								</span>
								<div class="social-icon">
									<ul>
										<li><a href=""><i class="fa fa-facebook"></i>
										</a></li>
										<li><a href="">
										<i class="fa fa-twitter"></i>
										</a></li>
										<li><a href="">
										<i class="fa fa-google-plus"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright 2015 ismartz. All Rights Reserved. Designed by <span class="color">JoomlArt.com.</span></p>
			<p><span class="color">Joomla!</span> is a Free Software released under the<span class="color"> GNU General Public License.</span></p>
					</div>
				</div>
			</div>
			
			
			</div>
			<div class="scroll-up crunchify-top"><a href="#top"><i class="fa fa-angle-up"></i></a></div>
		</footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.mixitup.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/slideOut.js"></script>
		<script src="js/morris.js"></script>
		<script src="js/jquery.canvasjs.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
