/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/***** font face *******/

@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.eot?#iefix') format('embedded-opentype'),  url('../fonts/Helvetica.otf')  format('opentype'),
	     url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf')  format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.eot?#iefix') format('embedded-opentype'),  url('../fonts/AmericanTypewriter.woff') format('woff'), url('../fonts/AmericanTypewriter.ttf')  format('truetype'), url('../fonts/AmericanTypewriter.svg#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url('../fonts/AmericanTypewriter-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/AmericanTypewriter-Bold.woff') format('woff'), url('../fonts/AmericanTypewriter-Bold.ttf')  format('truetype'), url('../fonts/AmericanTypewriter-Bold.svg#AmericanTypewriter-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmericanTypewriter-Light';
  src: url('../fonts/AmericanTypewriter-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/AmericanTypewriter-Light.woff') format('woff'), url('../fonts/AmericanTypewriter-Light.ttf')  format('truetype'), url('../fonts/AmericanTypewriter-Light.svg#AmericanTypewriter-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


/**** common*****/

body{
	font-family:open sans;
	font-size:14px;
	color: #ada6a6;
}
a{
	color:#ffffff;
}
.carousel-control.right{
	background:none;
}
.carousel-control.left{
	background:none;
}
.color{
	color:#f39c21;
}
.form-control.uname-control:focus {
  border-color:#007eff;
  box-shadow: none;
  outline: 0 none;
}
.form-control:focus {
  border-color:inherit;
  box-shadow: none;
  outline: 0 none;
}

.scroll-up{
	border: 1px solid #f39c21;
	border-radius: 50%;
	height: 50px;
	position: fixed;
	right: 10px;
	bottom:4px;
	width: 50px;
	display:none;
	
}
.scroll-up .fa{
	color: #f39c21;
	font-size: 43px;
	padding: 1px 9px;
}
.glyphicon-menu-right{
	background: #b1a499 none repeat scroll 0 0;
	border-radius: 50%;
	height: 36px;
	padding: 9px;
	top: 50%;
	width: 36px;
}
.glyphicon-menu-left{
	background: #b1a499 none repeat scroll 0 0;
	border-radius: 50%;
	height: 36px;
	padding: 9px;
	top: 50%;
	width: 36px;
}
.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  z-index: 5;
}
.container-fluid{
	padding-left: 0px;
	padding-right: 0px;
}
.container-fluid .row{
	margin-left:0px;
	margin-right: 0px;
}
.container-fluid .row .col-sm-12{
	padding-left:0;
	padding-right:0;
}
.display-none-desk{
	display:none;
}
/***** top bar ******/
.top-bar{
	background: #f39c21 none repeat scroll 0 0;
	color: #ffffff;
	padding: 13px 0;
	text-align: center;
}
.top-bar p{
	display: inline-block;
	margin:0;
}
.top-bar button{
	background: #333333;
	border: 0 none;
	border-radius: 22px;
	color: #ffffff;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	width: 182px;
}
/************/
.top-nav-menu{}
.top-nav-menu .navbar-default{
	background: #1e1e1e none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	margin-bottom: 0;
}
.top-nav-menu .navbar-brand {
padding: 8px 0 0;
}
.top-nav-menu ul.navbar-nav li a{
	color: #ffffff;
	font-family: "Helvetica";
	padding: 25px;
	text-transform: uppercase;
}
.top-nav-menu ul.navbar-nav li{
	position:relative;
}
.top-nav-menu ul.navbar-nav li .fa{
	color:#7a8f99;
	margin-left:5px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #f39c21;
}
/***** drop-down ******/
.top-nav-menu ul.navbar-nav li ul{
	margin:0;
	padding:0;
	list-style:none;
	background:#20282B;
	width:200px;
	display: none;
	position:absolute;
	z-index:1;
}
.top-nav-menu ul.navbar-nav li ul li{
	display:block;
	border-bottom:1px solid #131B1F;
}
.top-nav-menu ul.navbar-nav li ul li a{
	display:block;
	text-decoration:none;
	color:#5C6B76;
	padding: 16px;
}

.top-nav-menu ul.navbar-nav li a:hover:after{
	background: #f39c21 none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 45px;
}
.top-nav-menu ul.navbar-nav li ul li a:hover:after{
	background: none;

}
.top-nav-menu ul.navbar-nav li ul li a:hover{
	color:#FF9800;
}
.top-nav-menu ul.navbar-nav li:hover ul{
	display:block;
}


/***** Banner ********/
#banner .item img{
	width:100%;
	height:626px;
}
.carousel-caption {
  left: 20%;
  padding-bottom: 30px;
  right: 20%;
  top:30%;
}
.carousel-caption > h2 {
	color: #ffffff;
	font-size: 54px;
	margin-bottom: 22px;
	text-shadow: none;
}
.carousel-caption > p {
  font-size: 17px;
  text-shadow: none;
}
.carousel-caption button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 2px solid #f39c21;
  border-radius: 30px;
  color: #f39c21;
  font-size: 16px;
  padding: 10px 21px;
  font-family:"Helvetica";
  margin-top: 32px;
}
.carousel-caption button:hover {
	background:#f39c21;
	color:#ffffff;
}

/***** cms-area ********/

#cms-area{
	background: #ecf0f1 none repeat scroll 0 0;
	padding-top: 100px;
	text-align: center;
	clear:both;
}
#cms-area h2{
	color: #f39c21;
	font-size: 34px;
}
#cms-area p{
	margin-bottom: 70px;
	margin-top: 40px;
}

/****Feature Section*****/

#feature{
	padding-bottom: 100px;
	padding-top: 100px;
}
#feature h2{
	color: #f39c21;
	font-size: 34px;
	margin-bottom: 70px;
	text-align: center;
}
.single-feature{
	text-align: center;
}
.single-feature .fa{
	background: #5c3805;
	border-radius: 50%;
	color: #ffffff;
	font-size: 48px;
	height: 148px;
	padding: 46px;
	width: 148px;
}
.single-feature .fa:hover{
	background: #f39c21;
}
.single-feature h3{
	color: #f39c21;
	margin-bottom: 25px;
	margin-top: 38px;
	text-transform: uppercase;
}
.single-feature p{
	color:#ada6a6;
	line-height: 24px;
}

/****** Sample web section ******/
#sample-web{
	background:#ecf0f1;
}
#sample-web h2{
	color: #f39c21;
	font-size: 34px;
	margin: 0;
	padding-bottom: 50px;
	padding-top: 70px;
	text-align: center;
}
.web-sample ul{
	margin:0;
	padding:0;
	list-style:none;
}

.web-sample ul li a{
	display: block;
}
.get-started{
	background: #fc951a none repeat scroll 0 0;
	clear: both;
	color: #ffffff;
	padding: 97px 0;
	text-align: center;
}
.get-started p{
	display: inline-block;
	font-size: 23px;
}
.get-started button{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid #ffffff;
	border-radius: 40px;
	display: inline-block;
	font-family: "Helvetica";
	font-weight: bold;
	margin-left: 43px;
	padding: 11px 16px;
	color:#ffffff;
}

/****** Creative *******/

#creative {
  clear: both;
  padding-top: 72px;
}
.section-desc{
	text-align:center;
}
.section-desc h2{
	color: #f39c21;
	font-size: 34px;
	margin-bottom: 35px;
}
.mix-tab{

}
ul.mix-tab{
	padding:0;
	list-style:none;
	margin: 53px 0;
	overflow: hidden;
	text-align: center;
}
ul.mix-tab li{
	color: #fc951a;
	display: inline-block;
	margin: 0 6px;
	padding: 8px 20px;
	font-weight: 600;
	font-size:16px;
	padding: 8px 20px;
	cursor:pointer;
	border: 2px solid #ffffff;

}
ul.mix-tab li:hover{
	border: 2px solid #fc951a;
	border-radius: 17px;
}
ul.mix-tab li.active{
	border: 2px solid #fc951a;
	border-radius: 17px;
}
#Container-box .mix{
	display: none;
}
ul#Container-box{
	margin:0;
	padding:0px;
	list-style:0;
}
ul#Container-box li{
	float:left;
	display:block;
}

/***** Smart Websites ******/
#smart-web{
	clear: both;
	padding-bottom: 98px;
	padding-top: 98px;

}
.feature-caption{
	margin-top: 96px;
	line-height: 28px;
}
.feature-caption h4{
	color: #fc951a;
	font-size: 16px;
	margin-bottom: 20px;
}
.feature-caption a{
	color:#fc951a;
	text-decoration:none;
}
.feature-caption a .fa{
	margin-left:12px;
}
.smart-content .nav-tabs{
	border: medium none;
	margin-top: 53px;
	text-align: center;
}
.smart-content .nav-tabs > li {
	display: inline-block;
	margin: 0 47px;
	float:none;
}
.smart-content .nav-tabs .fa{
	font-size: 20px;
	margin-top: 17px;
}
.nav-tabs > li > a {
	border: 2px solid #fc951a;
	border-radius: 50%;
	color: #fc951a;
	height: 60px;
	padding: 0;
	text-align: center;
	width: 60px;

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #ffffff;
	border:0px;
	background-color: #fc951a;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: #fc951a;
  color: #ffffff;
  text-decoration: none;
}
.nav > li:hover .tab-title{
	display:block;
}

.smart-content .nav-tabs > li a:before{
	background: #fc951a none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 58px;
	position: absolute;
	top: 25px;
	width: 102px;
}
.smart-content .nav-tabs > li a:after{
	background: #fc951a none repeat scroll 0 0;
	content: "";
	height: 2px;
	position: absolute;
	right: 56px;
	top: 25px;
	width: 102px;
}
.tab-title{
	color: #fc951a;
	font-size: 12px;
	left: -38px;
	position: absolute;
	top: -30px;
	width: 148px;
	display:none;
}

.nav-tabs > li.active .tab-title{
	display:block;
}
.smart-content .nav-tabs > li{
	position:relative;
}

/******* testimonial *******/

#testimonial-section{
	background: #ededed none repeat scroll 0 0;
	padding-bottom: 100px;
	padding-top: 95px;
	text-align: center;
}
#testimonial-section .carousel-indicators {
  bottom: -33px;
}
.testimonial img{
	border-radius: 50%;
	height: 68px !important;
	margin: 0 auto;
	width: 68px;
}
.client-content {
  margin-bottom: 50px;
}
.client-meta {
  color: #fc951a;
  font-size: 18px;
  margin-top: 25px;
}
.client-content h3 {
	background: rgba(0, 0, 0, 0) url("../img/quote.png") no-repeat scroll 0 0;
	display: inline-block;
	font-size: 32px;
	font-weight: 300;
	line-height: 42px;
	padding-left: 40px;
}
.carousel-indicators .active {
  background-color: #fc951a;
  border:none;
}

 .carousel-indicators li {
  border: 2px solid #898989;
}
/***** coding ********/
#coding{
	background:#ecf0f1;
}


#panles{
	width:100%;
	height:676px;
	position: relative;
	overflow:hidden;
	background: white;
}
.panelHolder{
	float:left;
	position: relative;
	padding-right: 8px;
	width:100px;
	height:676px;
	overflow:hidden;
	background:white;
}
.contentHolder{
	float:left;
	position: relative;
	background:white;
	width:772px;
}
.tab{
	width:100px;
	position: absolute; 
	z-index: 1;
}
.model{
	position: absolute; 
	opacity: 0; 
	width:100%;
	height:676px;
}
.panelTitle.last{
	padding: 0;	
}
.active.panelHolder{
	width: 772px;
}
.active .tab{
	opacity: 0;
}
.active .model{
	visibility: visible;
	z-index: 0;
	opacity: 1;
}

.coding-content{
	float:left;
	width:50%;
}
.coding-content h3{
	color: #496f8d;
	font-size: 40px;
	font-weight: bold;
}
.coding-content p{
	color:#7e7e7e;
	font-size:22px;
}
.coding-content a{
	color:#f39c21;
	text-decoration:none;
}
.coding-image{
	float:left;
	width:50%;
}
.coding-image img{
	width:100%;
}


/***** news letter******/

#newsletter-section{
	background: #fc951a none repeat scroll 0 0;
	padding: 100px 0;
}
.newsletter{
	text-align: center;
}
.newsletter p{
	color: #ffffff;
	display: inline-block;
	font-size: 23px;
	margin-right: 22px;
}
.newsletter form {
  display: inline-block;
}
.newsletter input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #ffffff;
	border-radius: 28px;
	color: #ffffff;
	font-family: "Helvetica";
	font-size: 18px;
	height: 40px;
	padding: 6px 11px;
	width: 257px;
}
.newsletter button{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	height: 40px;
	margin-left: 19px;
	width: 40px;
}

/***** blog ******/
#blog-section{
	padding: 100px 0;
	text-align:center;
}
#blog-section h2{
	color: #f39c21;
	font-size: 34px;
	margin-bottom: 118px;
}
.single-blog{}
.blog-feature-img{
	background: #f39c21;
	border-radius: 50%;
	height: 150px;
	margin: 0 auto;
	width: 150px;
}
.blog-feature-img img{
	border-radius: 50%;
	height: 150px;
	width: 100%;
}
.blog-meta{
	margin-top: 30px;
}
.blog-meta a{
	color: #f39c21;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.date-meta{
	margin-top:15px;
}
.date-meta span{
	margin-right: 22px;
}
.date-meta .fa{
	font-size:22px;
	margin-right:8px;
}

/******* footer ************/

.footer-top{
	background: #2c3236 none repeat scroll 0 0;
	padding-bottom: 100px;
	padding-top: 20px;
}
.border-line{
	border-bottom: 1px solid #7a8f99;
	color:#7a8f99;
	font-size: 14px;
	padding-bottom: 24px;
	margin-bottom: 100px;
}
.border-line span{}
.border-line .fa{
	font-size: 20px;
	margin-right: 16px;
}
.single-footer{}
.single-footer h4{
	color: #f39c21;
	font-size: 16px;
	margin-bottom: 32px;
}
.single-footer ul{
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.single-footer ul li{
	display: block;
}
.single-footer ul li a{
	color: #6b7c88;
	display: block;
	font-size: 16px;
	padding: 8px;
}
.single-footer span{
	display: block;
	padding: 7px 0;
}
.single-footer p {
  display: inline-block;
}
.single-footer span .fa{
	float: left;
	font-size: 20px;
	margin-right: 10px;
}
.social-icon {
  margin-top: 17px;
}
.social-icon ul{
	margin:0;
	padding:0;
	list-style:none;
}
.social-icon ul li{
	display:inline-block;
}
.social-icon ul li a{
	color: #ffffff;
	display: block;
	margin-right: 8px;
	padding: 0;
}
.social-icon ul li a .fa{
	border-radius: 50%;
	height: 36px;
	padding: 12px;
	width: 36px;
}
.social-icon ul li a .fa-facebook{
	background:#3b5998;
}
.social-icon ul li a .fa-twitter{
	background:#00aced;
}
.social-icon ul li a .fa-google-plus{
	background:#dd4b39;
}
.footer-bottom{
	background: #363d42 none repeat scroll 0 0;
	color: #525f66;
	font-size: 12px;
	padding-bottom: 70px;
	padding-top: 35px;
}
.footer-bottom p{
	font-weight: 600;
	line-height: 23px;
	margin: 0;
}

/******* pricing page***********/
#pricing-section{
	padding-bottom: 100px;
	padding-top: 55px;
	text-align: center;
}
#pricing-section h2{
	color:#000000;
	font-size:37px;
	margin-bottom:84px;
}


.pricing-table{
	border: 2px solid #d8d8d8;
	border-radius: 3px;
	display:inline-block;
	width:100%;
}
.single-table{
	float: left;
	padding: 7px 0;
	width: 25%;
}
.single-table ul{
	border-right: 1px solid #d8d8d8;
	list-style: outside none none;
	margin: 0;
	padding: 0 12px;
}
.single-table:nth-child(4) ul{
	border:none;
}
.single-table ul li{
	border-top: 1px solid #e3e3e3;
	display: block;
	padding: 10px 0 10px 48px;
	text-align: left;
}
.single-table .fa{
	margin-right: 10px;
}
.single-table .fa-check{
	color:#5fb86a;
}
.single-table .fa-times{
	color:#ef653a;
}
.single-table li.price-title{
	padding-left: 0;
	text-align: center;
}
.price-title h3{
	color: #4e78a2;
	font-size: 35px;
}
.price-title span{
	color: #000000;
	font-size: 16px;
}
.price-title .amount{
	font-size: 33px;
}

.single-table li.price-btn{
	padding-left: 0;
	text-align: center;
}
.price-btn button{
	background: #4d4d4d;
	border:none;
	border-radius: 3px;
	font-size: 16px;
	height: 47px;
	width: 148px;
}
.price-btn a{
	color:#ffffff;
}
.single-table ul li.price-title {
  border:none;
}
.single-table ul li.price-btn {
  padding: 30px 0;
}
.single-table.active{
	background-color: rgb(255, 255, 255);
	border: 2px solid #f39c21;
	border-radius: 5px;
	box-shadow: 0 0 8px 0 rgba(15, 6, 8, 0.22);
	transform: scale(1.05);
	position:relative;
}
.single-table.active > img {
  position: absolute;
  right: -5px;
  top: -4px;
}
.single-table.active li.price-btn button{
	background:#f39c21;
}
.single-table.active li.price-title h3{
	color: #f39c21;
	font-weight: 600;
}

/***** search page*******/

#search-section{
	padding-bottom:46px;
	padding-top: 55px;
	text-align: center;
}
#search-section h2{
	color:#000000;
	font-size:37px;
	margin-bottom:84px;
}

.search-input form{
	margin: 0 auto;
	width: 647px;
}
.search-input .form-control{
	height: 58px;
	border-right:none;
}
.search-input .form-control:focus{
	border-color:#cccccc;
}
.search-input .btn{
	border-left: medium none;
	color: #f39c21;
	font-weight: bold;
	height: 58px;
}
.btn-default:hover {
  background: none;
  border-color: #cccccc;

}

.search-input .btn .fa{
	font-size: 18px;
	font-weight: 300;
	margin-right: 3px;
}
.result-table{
	border-bottom: 3px solid #4d4d4d;
}
.table-header{
	background: #f5f7f9 none repeat scroll 0 0;
	color: #5d7b9a;
	margin-left: 0;
	margin-right: 0;
	padding: 19px 0;
}
.search-info {
  padding-bottom: 25px;
  padding-top: 4px;
  font-size: 12px;
}
.search-pagination{
	display: inline-block;
	margin-right:81px;
}
.pagination {
  border-radius: 0px;
  margin: 0;
  padding-left: 0;
}
.pagination > li > a, .pagination > li > span {
  color: #cbcbcb;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  border:none;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
	background:none;
	color:#000000;

}
.page-count{
	display: inline-block;
	overflow: hidden;
}
.page-count ul{
	margin:0;
	padding:0;
	list-style:none;
}
.page-count ul li{
	display:inline-block;
	position:relative;
	padding: 0 3px;
}
.page-count li span{
	color:#f39c21;
}
.page-count li span:after{
	background: #eeeeee none repeat scroll 0 0;
	content: "";
	height: 12px;
	left: -3px;
	position: absolute;
	top: 4px;
	width: 2px;
}
.table-cell{
	margin-left: 0;
	margin-right: 0;
	padding: 16px 0;
	border-bottom: 1px dashed #000000;
}
.table-cell:last-child{
	border:none;
}
.domain-color{
	color:#000000;
}
.status-color{
	color:#8fbf3e;
	text-transform: uppercase;
}
.price-color{
	color:#000000;
	float:left;
}
.price-color img {
  margin-right: 6px;
}
.table-cell button {
	background: #4d4d4d;
	border: medium none;
	border-radius: 4px;
	color: #ffffff;
	height: 38px;
	width: 124px;
	float:right;
}
.load-btn button {
	background: #f3a238 none repeat scroll 0 0;
	border: medium none;
	border-radius: 5px;
	box-shadow: 0 3px 0 0 #c04c3c;
	color: #ffffff;
	float: right;
	height: 55px;
	margin-top: 16px;
	width: 173px;
}
.back-order{
	color:#7e8184;
}
.search-not-found{
	border: 1px solid #c62c34;
	border-radius: 5px;
	display: inline-block;
	margin: 42px auto 0;
	padding: 8px 27px;
	position: relative;
	text-align: left;
}
.warning-color{
	color: #c62c34;
	font-size: 23px;
}
.search-not-found .fa{
	color: #c62c34;
	font-size: 33px;
	position: absolute;
	right: -18px;
	top: -15px;
}
.search-message p {
  margin: 0;
}

/****** login page *********/

#login-section{
	background: rgba(0, 0, 0, 0) url("../img/logback.jpg") repeat scroll center center / cover ;
	padding-bottom: 100px;
	padding-top: 88px;
}
.login-box{
	margin: 0 auto;
	text-align: center;
	/*width: 338px;*/
}
.social-log{
	padding-top: 55px;
}
.social-log ul{
	margin:0;
	padding:0;
	list-style:none;
}
.social-log ul li{
	display:inline-block;
    margin:1%;
    margin-left:1%;
    margin-right:3%;
}
.or {
  background: #f2eae9 none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  font-weight: bold;
  height: 36px;
  margin: 20px auto;
  padding: 8px;
  width: 36px;
  position:relative;
}

.or span:after{
	background: #eeeeee none repeat scroll 0 0;
	content: "";
	height: 2px;
	position: absolute;
	right: 36px;
	top: 17px;
	width: 64px;
}
.or span:before{
	background: #eeeeee none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 36px;
	position: absolute;
	top: 17px;
	width: 64px;
}
.login-form .input-group{
	margin-bottom:15px;
}
.login-form input{
	height:46px;
}
.login-form input.form-control{
	background-color: rgba(255, 255, 255, 0.44);
}
.input-group-addon {
background-color: rgba(255, 255, 255, 0.44);
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #555555;

}
#sizing-addon2 .fa-user{
	font-size:24px;
	color:#007EFF;
}
#sizing-addon4 .fa-lock{
	font-size:29px;
	color:#888888;
}
#sizing-addon3 .fa-at{
    font-size: 22px;
    color: #888888;
}
.uname-control{
	border:1px solid #007EFF;
	border-right:1px solid #898989;
	
}
.log-icon-one{
	border:1px solid #007EFF;
	border-left:1px solid #888888;
}
.log-icon-two,.upass-control{
	border:1px solid #888888;
}
.log-icon-two{
	border-left:0px;
}
.forget{
	color:#ffffff;
}
.forget .checkbox-inline{
	margin-right: 65px;
}
.forget .checkbox-inline,.forget a{
	display: inline-block;
	color:#ffffff;
}
#inlineCheckbox1{
	top:-15px;
}
.log-btn{
	background: #f9ab32 none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-top: 26px;
	width: 100%;
}
.singnup-now{
	display: block;
	margin-top: 20px;
    color: rgba(24, 14, 38, 0.84);
}
.singnup-now a{
	color:rgba(255, 255, 255, 0.75);;

}
.pass-box{
	position:relative;
}
.error{
	background: rgba(0, 0, 0, 0) url("../img/errorms.png") repeat scroll 0 0;
	color: #c62c34;
	display: block;
	font-size: 12px;
	font-weight: 600;
	height: 40px;
	padding:6px;
	position: absolute;
	right: -270px;
	top: 4px;
	width: 255px;
	display:none;
}
.error .fa{
	font-size: 20px;
    margin-left:10px;
	margin-right:20px;
	
}
.upass-red{
  border: 1px solid #ff0000;
}

/******** contact page **************/

#contact-section{
	background: rgba(0, 0, 0, 0) url("..../img/map.jpg") no-repeat scroll center center / cover ;
	overflow: hidden;
	color: #ffffff;
	position:relative;
}
.map{
	position: relative;
	color: #000000;
}

#contact-section .overlay{
	background: rgba(0, 0, 0, 0) url("../img/contbg.png") no-repeat scroll center center / cover ;
	padding-bottom: 60px;
}
.contact-info{}
.contact-info ul{
	margin:0;
	padding:0;
	list-style:none;
}
.contact-info ul li{
	display: block;
	padding: 9px 0;
}
.contact-info ul li img{
	margin-right:11px;
}
.contact-info ul li a{}
.contact-social{
	margin-top: 15px;
}
.contact-social ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
.contact-social ul li {
	display: inline-block;
}
.contact-social ul li a {
	background: #ffffff;
	border-radius: 50%;
	color: #CE8424;
	display: block;
	height: 31px;
	padding: 7px 9px;
	width: 31px;
	margin-right: 10px;
}
#contact-section textarea.form-control {
  background: rgba(0, 0, 0, 0.57);
  height: auto;
}
#contact-section .form-control {
   background: rgba(0, 0, 0, 0.57);
}
.sub-btn{
	background: #ffffff none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: #f39c21;
	height: 44px;
	margin-top: 10px;
	width: 100%;
	font-size:18px;
	font-weight:600;
}
.location-pin{
	left: 53%;
	position: absolute;
	top: 57px;
}

.contact-title{
	font-size:57px;
}
.overlay .form-control{
	height:47px;
}

::-webkit-input-placeholder {
   color: #ffffff;
}

#contact-section .form-control::-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}

#contact-section .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

#contact-section .form-control::-ms-input-placeholder {  
   color: #ffffff; 
}

/***** creative dash ********/
#user-menu{
	background: #545253 none repeat scroll 0 0;
	overflow: hidden;
	padding: 4px 0;
}
.user-menu-left{
	float: left;
	padding-left: 26px;
	width: 50%;
}
.user-menu-right{
	float:left;
	width:50%;
	padding-left: 24px;
}
.user-menu-right .fa-caret-down{
	color:#7a8f99;
	margin-left:3px;
}
.user-menu-left img{}
.user-menu-left p{
	color: #ffffff;
	display: inline-block;
	font-size: 24px;
	margin-left: 24px;
	margin-right: 48px;
}
.user-menu-left ul{
	margin:0;
	padding:0;
	list-style:none;
	display: inline-block;
}
.user-menu-left ul li{
	display: inline-block;
	padding: 7px 13px;
}
.user-menu-left ul li a{

}
.user-menu-left ul li .fa{
	color: #c4c2c3;
	font-size: 34px;
}
.user-menu-right{}
.user-menu-right ul{
	margin:0;
	padding:0;
	list-style:none;
}
.user-menu-right ul li{
	display:inline-block;
	position:relative;
}
.user-menu-right ul li a{
	color: #000000;
	font-size: 22px;
	padding: 0 20px;
}
.badge{
	background: #dd9a33 none repeat scroll 0 0;
	border-radius: 50%;
	font-size: 10px;
	font-weight: 300;
	height: 20px;
	padding: 4px;
	position: absolute;
	right: -4px;
	top: -2px;
	width: 20px;
}
#wrapper{}
.cont-padding{
	padding:0;
}
.cont-margin{
	margin:0;
}
#wrapper .left-padding{
	background: #2b2e33;
	height: 1522px;
	padding: 0;
}
.creative-left-menu{
height: 1709px !important;
}
.right-padding{
	padding:0;
}

.section-one{
	background: rgba(0, 0, 0, 0) url("../img/dash-bg.png") repeat scroll 0 0;
	padding-bottom: 30px;
	text-align: center;
}
.section-one ul{
	margin:0;
	padding:0;
	list-style:none;
}
.section-one ul li{
	display:inline-block;
}
.section-one ul li  a{
	color: #ffffff;
	display: block;
	font-weight: 600;
	padding: 28px 32px;
	text-decoration: none;
	text-transform: uppercase;
}
.flaw{
	margin-top: 315px;
}
.flaw h2{
	font-size:34px;
	font-weight:bold;
	color:#000000;
	font-family:'AmericanTypewriter-Bold';
}
.flaw p{
	color:#ffffff;
	font-size:18px;
	font-weight:600;
	text-transform: uppercase;
}

.flaw span{
	background: #000000 none repeat scroll 0 0;
	border-radius: 50%;
	color: #afd5be;
	display: inline-block;
	font-size: 20px;
	height: 30px;
	width: 30px;
}

.section-two{
	background: #000000 none repeat scroll 0 0;
	font-size: 20px;
	padding: 30px 0;
	text-align: center;
	color: #ffffff;
	font-family:'AmericanTypewriter';
}
.section-two span{
	font-weight:bold;
	margin-right:8px;
	font-family:'AmericanTypewriter-Bold';
}
.section-three{
	padding: 0 63px;
	text-align: center;
	color: #000000;
}
.section-three h3{
	font-size:32px;
	font-family:'AmericanTypewriter-Light';
}
.section-three{
	font-family:'AmericanTypewriter';
}
.section-three .about-img{
	background: #92c7b7 none repeat scroll 0 0;
	border: 9px solid #6fa192;
	border-radius: 50%;
	height: 146px;
	margin: 16px auto 24px;
	width: 146px;
}

.section-four{
	background:#92C7B7;
	padding: 10px 0;
	text-align: center;
}
.section-four span{
	color: #ffffff;
	font-size: 18px;
	margin-left: 66px;
}
.dash-social-icon{
	display: inline-block;
}
.dash-social-icon ul{
	margin:0;
	padding:0;
	list-style:none;
}
.dash-social-icon ul li{
	display:inline-block;
}
.dash-social-icon ul li a{
	background: #ffffff none repeat scroll 0 0;
	border-radius: 50%;
	color: #ce8424;
	display: block;
	font-size: 20px;
	height: 48px;
	margin-right: 10px;
	padding: 8px 15px;
	width: 48px;
}
.section-six .item{
	margin: 0 auto;
	width:700px;
}
.section-six{
	background: #92c7b7 none repeat scroll 0 0;
	color: #000000;
	padding: 30px 0;
}
.img-box{
	border: 10px solid #6fa192;
	float: left;
	height: 133px;
	margin-right: 26px;
	margin-top: 79px;
	width: 197px;
}
.text-box{
	float:left;
	width:400px;
	text-align: justify;
	font-family:'AmericanTypewriter';
}
.text-box  h4{
  margin-bottom: 27px;
  font-size: 32px;
  font-family:'AmericanTypewriter-Light';
}
.uppercase{
text-transform:uppercase;
}
.img-box img{
	width:100%;
}

.section-five{
overflow:hidden;

}
.gal-top{
	background:#d2a06f;
	height:123px;
	border: 2px solid #ffffff;

}
.gal-bottom{
	background:#81645c;
	height:123px;
	border: 2px solid #ffffff;

}
.gal-full{
	background:#fbe8c8;
	height:246px;
	border: 2px solid #ffffff;

}
.color-three{
	background:#ae958e;
}
.color-four{
	background:#f4e8b4;
}
.menu-user-avatar img {
  border: 4px solid #F39C20;
  border-radius: 50%;
  height: 58px;
  width: 58px;
}

/*** Dashboard menu******/
.dash-leftmenu ul{
	margin:0;
	padding:0;
	list-style:none;
	text-transform:uppercase;
}
.dash-leftmenu{
	
}
.menu-title{
	color: #ffffff;
	display: block;
	font-size: 24px;
	padding: 20px 11px;
	
}
.back-color-title a{
	color: #ffffff;
	display: block;
	font-size: 17px;
	padding: 10px;
	text-decoration:none;
	color:#ffffff;
	
}

.menu-title span{
	color:#4A4A4C;
}
.menu-global{
	background: #4c4f53 none repeat scroll 0 0;	
}
.menu-global ul li{
	border-bottom: 1px solid #2b2e33;
	display: block;
}
.menu-global ul li a{
	display: block;
	font-size: 18px;
	padding: 10px;
	text-decoration:none;
	color:#ffffff;
}
.menu-global ul li a:hover{
	background:#DD9A33;
	color:#2b2e33;
}
.menu-align ul li{
	display:inline-block;

}
.menu-align ul li a{
	display: block;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	text-transform: capitalize;
	
}
.menu-align ul li a:hover{
	color:#dd9a33;
}
.menu-box{}
.menu-box ul li{
	display:block;
}
.menu-box ul li a{
	color: #ffffff;
	display: block;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
	text-transform: capitalize;
}
.menu-head a{
	display: block;
	font-size: 18px;
	padding: 10px;
	text-decoration:none;
	color:#ffffff;
	background: #4c4f53;
	text-transform: uppercase;
}
.canter-menu{
	text-align:center;
}
.menu-header ul{}
.menu-header ul li{
	background: #4c4f53 none repeat scroll 0 0;
	border-bottom: 1px solid #2b2e33;
	color: #ffffff;
	display: block;
	font-size: 18px;
	padding: 10px;
}
.menu-header ul li a{
	color: #ffffff;
	display: block;
	font-size: 18px;
	text-decoration: none;
}
.text-transform ul li a{
	text-transform:uppercase;
}
/**** Dashboard page*******/
.user-avatar{
	background: #dd9931 none repeat scroll 0 0;
	border: 6px solid #ffffff;
	border-radius: 50%;
	height: 128px;
	margin: 30px auto 20px;
	width: 128px;
}
.user-avatar img{
	width:100%;
}
.user-name{
	text-align:center;
	text-transform:uppercase;
	margin-bottom: 28px;
}
.top-box{
	margin-top: 20px;
	overflow: hidden;
}
.top-box ul{
	margin:0;
	padding:0;
	list-style:none;
}
.single-top-box{
	box-shadow: 0 0 2px 2px #bebebe;
	height: 84px;
	margin-bottom: 2px;

}

.color-box{
	background: #dd9a33 none repeat scroll 0 0;
	float: left;
	height: 84px;
	width: 63px;
}
.info{
	color: #000000;
	float: left;
	height: 83px;
	padding: 0 6px;
	width: 184px;
}
.back-simple{
	background:#80BBDA;
}
.color-simple h4{
	color:#80BBDA;
	font-weight:bold;
}
.yellow{
	color:#DD9A33;
}
.back-sample-two{
	background:#262727;
}
.color-sample-two h4{
	color:#262727;
	font-weight:bold;
}
.back-sample-three{
	background:#666666;
}
.color-sample-three h4{
	color:#666666;
	font-weight:bold;
}
.graph{
	margin-top: 20px;
	overflow: hidden;
}
.visitor-graph{
	border-radius: 5px;
	box-shadow: 2px 2px 4px 0 #bababa;
	height: 357px;
	border:1px solid #D6D6D6;
	margin-bottom:4px;
}
.notification{
	border: 1px solid #d6d6d6;
	border-radius: 9px;
	box-shadow: 2px 2px 4px 0 #bababa;
	height: 357px;
	overflow: hidden;
}
.notification-box{
	padding: 9px 13px;
}
.notification ul{
	margin:0;
	padding:0;
	list-style:none;
}
.notification ul li{
	display:block;
	padding: 7px 0;
}
.notification ul li a{
	display:block;
	color:#2b2e33;
	text-decoration:none;
	font-size:12px;
	line-height: 14px;
}
.notification h3{
	color: #2b2e33;
	font-size: 24px;
	margin: 7px 0 23px;
	text-align: center;
}
.notification ul li .fa{
	color: #dd9931;
	float: left;
	font-size: 20px;
	margin-right: 12px;
	width: 22px;
}
.notification button {
  background: #ededed none repeat scroll 0 0;
  border: medium none;
  color: #dd9a35;
  padding: 20px;
  width: 100%;
}
.notification button a {
	color:#dd9a35;
	font-weight:600;
}

.web-traffic-area{
	margin: 16px 0;
	overflow: hidden;
}
.web-traffic{
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	box-shadow:2px 2px 4px 0 #bababa;
	float: left;
	height: 384px;
	padding: 8px 19px;
	margin-bottom: 4px;
}
.web-head {
  margin-bottom: 20px;
}
.web-head h4 {
  display: inline-block;
  color:#2b2e33;
  font-size: 24px;
  font-weight: 600;
  margin-top:0;
}
.web-head .fa {
	float:right;
	color:#91baec;
}
.customer-traffic{
	border:1px solid #eee;
	height:384px;
	margin-bottom:4px;
	box-shadow:2px 2px 4px 0 #bababa;
	border-radius:10px;
	overflow:hidden;
}
.customer-head{
	background:#2b2e33;
	height:130px;
	text-align:center;
	color:#ffffff;
	position:relative;
}

.total-visitors{
	color: #dd9a33;
	font-size: 17px;
	left: 71px;
	position: absolute;
	text-align: center;
	top: 45px;
	z-index: 99;
}
.total-visitors p{
	color:#202020;
	font-size:26px;
}
.pieID {
  display: inline-block;
  vertical-align: top;
  position:relative;
}
.pie {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 30px 30px 0;
}
.pie::before {
	background: #eeeeee none repeat scroll 0 0;
	border-radius: 50%;
	content: "";
	display: block;
	height: 130px;
	left: 37px;
	position: absolute;
	top: 35px;
	width: 130px;
	z-index: 1;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}
.legend {
	font-size: 13px;
	list-style-type: none;
	margin: 41px 0 0 94px;
	padding: 15px;

}
.legend li {
  width: 110px;
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.legend em {
  font-style: normal;
}
.legend span {
  float: right;
  display:none;
}

.customer-head h4{
	margin: 0;
	padding-top: 17px;
}
.customer-head h5{}
.customer-traffic-img{
	background: #dd9931 none repeat scroll 0 0;
	border: 4px solid #ffffff;
	border-radius: 50%;
	bottom: -44px;
	height: 103px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 103px;
}
.traffic-info{
	margin-top: 59px;
	text-align: center;
	color:#737373;
	
}
.traffic-info p {
  padding: 0 26px;
}
.traffic-info ul{
	color: #2b2e33;
	list-style: outside none none;
	margin: 24px 0 0;
	padding: 0;
}
.traffic-info ul li{
	border-right: 1px solid #c8c8c8;
	display: inline-block;
	font-size: 40px;
	padding: 0 23px;
}
.traffic-info span {
  display: block;
  font-size: 18px;
}
.progress-box{
	clear:both;
	margin-top:20px;
	box-shadow: 2px 2px 4px 0 #bababa;
	border:1px solid #D6D6D6;
	padding: 8px;
}
.face-one{
background: rgba(0, 0, 0, 0) url("../img/faceone.png") no-repeat scroll 0 0 / cover ;
display: inline-block;
height: 15px;
margin-right: 5px;
width: 15px;
}
.face-two{
	background: rgba(0, 0, 0, 0) url("../img/facetwo.png") no-repeat scroll 0 0 / cover ;
	display: inline-block;
	height: 15px;
	margin-right: 5px;
	width: 15px;
}

.face-three{
	background: rgba(0, 0, 0, 0) url("../img/facethree.png") no-repeat scroll 0 0 / cover ;
	display: inline-block;
	height: 15px;
	margin-right: 5px;
	width: 15px;
}

.face-four{
	background: rgba(0, 0, 0, 0) url("../img/facefour.png") no-repeat scroll 0 0 / cover ;
	display: inline-block;
	height: 15px;
	margin-right: 5px;
	width: 15px;
}

.progress {
  background-color: #dbe3e7;
  border-radius: 10px;
  height: 10px;
}
.seo-over{
	font-size:24px;
	font-weight:600;
	color:#2b2e33;
}

.visitor-count {
  float: right;
}
.visitor-count .fa{
	margin-left:6px;
	color:#91baec;
}
.bar-one{
	background:#87C2BA;
}
.bar-two{
	background:#65A1DB;
}
.bar-three{
	background:#ECC130;
}
.bar-four{
	background:#D46F4C;
}
.thmediam{
		width:35%;
		border-right: 1px dashed #eeeeee;
}
.thbig{
	width:60%;
	border-right: 1px dashed #eeeeee;
}
.thsmall{
	width:15%;

}
tr {
  border-bottom: 1px dashed #eeeeee;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: none;

}



#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
#dash-gallery .item img{
  display: block;
  width: 100%;
  height: auto;
}


/* ==========================================================================
   Responsive css
   ========================================================================== */
   
  /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) { 
#banner .item img{
	width:100%;
	height:423px;
}

.color-box {
  width: 48px;
}
.info {
  font-size: 13px;
  width: 94px;
}

.color-simple h4,.yellow,.color-sample-three h4,.color-sample-two h4 {
  font-size: 13px;
}

.legend {
  margin: 41px 0 0 12px;
  padding: 15px;
}
.pie {
  margin: 0 0 20px;

}
.notification ul li a {
  font-size: 11px;

}
.notification button {
  padding: 6px;

}

.menu-global ul li a {
  font-size: 13px;

}
.menu-box ul li a {
  font-size: 13px;

}






}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

.top-nav-menu .navbar-brand {
  width: 142px;
}
.top-nav-menu ul.navbar-nav li a {
  padding: 14px;

}


.carousel-indicators {
  bottom: -5px;
}

.carousel-caption button {
	margin-top: 6px;
}
.smart-content .nav-tabs > li {
  margin: 0 28px;
}
.smart-content .nav-tabs > li a::after {
  background: #fc951a none repeat scroll 0 0;
  content: "";
  height: 2px;
  position: absolute;
  right: 56px;
  top: 25px;
  width: 61px;
}

.smart-content .nav-tabs > li a::before {
  background: #fc951a none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 58px;
  position: absolute;
  top: 25px;
  width: 61px;
}

.info {
  font-size: 13px;
  width: 82px;
}

.legend {
  display: none;
}

.notification-box {
  padding: 9px 5px;
}

.notification ul li a {
  font-size: 9px;

}
.notification ul li .fa {
	margin-right: 3px;
}
.notification h3 {
  font-size: 18px;
}
.notification button {
  padding: 8px 3px;
}

.notification button a {
  font-size: 12px;

}
.traffic-info ul li {
  font-size: 16px;
  padding: 3px 10px;
}
.traffic-info span {
  font-size: 14px;
}

.user-avatar {
  height: 100px;
  width: 100px;
}

/******* search page**********/
.price-color{
	display:block;
	float:none;
	margin:0 auto;
}

.table-cell button {
	display:block;
	float:none;
	margin:5px auto 0;
}


#message {
  right: -187px;
  top: 4px;
  z-index: 9;
}

.user-menu-right {
	text-align: center;
	width: 100%;
}
.user-menu-left{
	display:none;
}

.notification ul li {
  padding: 6px 0;
}




}

@media only screen and (max-width: 430px) {

.col-xx-12{
	width:100%;
}

.load-btn button{
	width: 100%;
}

.search-not-found {
  padding: 8px 15px;
  text-align: center;
}
.search-message {
  font-size: 12px;
}

.warning-color {
  font-size: 14px;
}

.user-menu-right ul li a {
  padding: 0 7px;
}

.user-menu-right {
  width: 100%;
}
.user-menu-left {
	display:none;
}
.glyphicon-menu-right {
  right: 0;
}

.section-three {
  padding: 0 9px;

}

}

/* Mobile Layout: 554px. */

@media only screen and (max-width: 554px) {

.color-box {
  width: 45px;
}
.info {
  width: 85px;
}
.color-simple h4,.yellow,.color-sample-two h4,.color-sample-three h4 {
  font-size: 14px;

}

.legend li {
  float: left;

}
.legend {
  margin: 0;

}
.web-traffic p {
  display: none;
}

.carousel-control.right{
	right:6px;
	top: -22%;
}

}


@media only screen and (max-width: 767px) {

.top-nav-menu ul.navbar-nav li a:hover::after{
	background:none;
}
.top-nav-menu ul.navbar-nav li ul {
  width: 100%;
}

.navbar-default .navbar-toggle {
  border-color: #366070;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #366070;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background:none;
}
.navbar-brand {
  width: 118px;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: #20282b none repeat scroll 0 0;
  border-color: #e7e7e7;
}
.top-nav-menu ul.navbar-nav li a{
	border-bottom: 1px solid #141c20;
}
.navbar-nav {
  margin: 7.5px -15px 0;
}

#banner{
	display:none;
}

#cms-area {
  padding-top: 48px;
 
}
#cms-area p {
  margin-bottom: 42px;
  margin-top: 26px;
}
#cms-area h2 {
  font-size: 21px;
  font-weight: bold;
}
#cms-area img{
	width:100%;
}
#feature {
  padding-top: 15px;
}
#feature h2 {
  font-weight: bold;
  margin-bottom: 40px;

}
#sample-web h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.get-started {
  padding: 34px 0;

}
.get-started button{
	margin-left:0px;
}
#creative {
  padding-top: 13px;
}

ul.mix-tab li {
  margin: 6px 6px;
}
#smart-web {
	padding-bottom: 46px;
	padding-top: 11px;
}
.feature-caption {
  margin-top: 21px;
}
.newsletter p {
  font-size: 30px;
  font-weight: bold;
}
#newsletter-section {
  padding: 30px 0;
}
.newsletter button {
  margin-top: 10px;
}
.top-bar button {
  width: 100%;
}
#testimonial-section {
  padding-bottom: 40px;
  padding-top: 40px;
}
#blog-section {
  padding: 27px 0;
}
#blog-section h2 {
  font-size: 34px;
  margin-bottom: 34px;
}
.single-blog {
  margin: 17px 0;
}
.footer-bottom {
  padding-bottom: 28px;

}
.client-content h3 {
  font-size: 18px;
  line-height: 29px;
  padding-left: 40px;
}
.client-content {
  margin-bottom: 20px;
}

.smart-content .nav-tabs > li {
  display: inline-block;
  float: none;
  margin: 0 8px;
}
.smart-content .nav-tabs > li a::before {
  background: #fc951a none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 32px;
  position: absolute;
  top: 18px;
  width: 25px;
}

.smart-content .nav-tabs > li a::after {
  background: #fc951a none repeat scroll 0 0;
  content: "";
  height: 2px;
  position: absolute;
  right: 35px;
  top: 18px;
  width: 20px;
}

.smart-content .nav-tabs .fa {
  font-size: 13px;
  margin-top: 11px;
}

.nav-tabs > li > a {
  border: 2px solid #fc951a;
  border-radius: 50%;
  color: #fc951a;
  height: 35px;
  padding: 0;
  text-align: center;
  width: 35px;
}

.tab-title {
	color: #fc951a;
	display: none;
	font-size: 10px;
	left: -13px;
	position: absolute;
	top: -35px;
	width: 57px;
}


/**** contact page*****/

.contact-title {
  font-size: 28px;
  font-weight: bold;
}
.contact-sub-title{
	font-weight: bold;
}
.contact-social {
  text-align: center;
}
.border-line {
  margin-bottom: 38px;

}
.footer-top {
  padding-bottom: 35px;

}

.sub-btn {
  border-radius: 3px;
  color: #f39c21;
  font-size: 20px;
  font-weight:700;
  margin-top:0px;
  height: 152px;
}

/**** login page*******/
.login-box {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.social-log ul li {
  display: block;
}
#message {
  right: 0;
  top: 51px;
  width: 255px;
  z-index: 99;
}


/******pricing table*******/
.display-none{
	display:none;
}
#pricing-section h2 {
  color: #f39c21;
  font-size: 37px;
  margin-bottom: 54px;
}
.responsive-price-table {
  background: #e99620 none repeat scroll 0 0;
  border-radius: 32px;
  box-shadow: 0 7px 2px 0 #c04c3c;
  height: 207px;
  margin-bottom: 23px;
  padding-top: 24px;
}

.responsive-price-table h3{
	font-size:25px;
	font-weight:600;
	margin:0px;
	color:#ffffff;
	
}
.responsive-price-table button {
  background: #2c3236 none repeat scroll 0 0;
  border: medium none;
  border-radius: 13px;
  box-shadow: 1px 5px 1px -2px #7a8f99;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  height: 48px;
  margin-top: 44px;
  text-transform: uppercase;
  width: 113px;
}

.monthly-price{
	color:#2c3236;
	font-weight:600;
}

.price {
  font-size: 26px;
}
.modal-body {
  overflow: hidden;

}
.single-table {
  float: none;
  padding: 7px 0;
  width: 100%;
}
.single-table ul {
  border-right:0px;

}
.single-table .fa-check {
  border: 1px solid #5fb86a;
  padding: 2px;
}
.single-table .fa-times {
  border: 1px solid #ef653a;
  padding: 2px;
}
.modal-content {
  border: 3px solid #f39c21;
  position: relative;

}
.single-table.active {
  background-color: #ffffff;
  border:none;
  border-radius: 0px;
  box-shadow:none;


}

.modal-header {
	position: absolute;
	top: 0;
	z-index: 99;

}
button.close {
	background: #f39c21 none repeat scroll 0 0;
	color: #ffffff;
	float: left;
	font-size: 29px;
	padding: 5px 7px;
}
.modal-header {
  border-bottom:0px;
  padding:0px;
}
.close {
  opacity:1;

}

.display-none-desk{
	display:block;
}
.btn-primary:hover {
  background-color: #2c3236 ;
  border-color: #204d74;
  color: #ffffff;
}

.display-none{
	display:none;
}
.btn-primary.focus, .btn-primary:focus{
  background-color: #2c3236 ;


}

/******* search page**********/
.price-color{
	display:block;
	float:none;
	margin:0 auto;
}

.table-cell button {
	display:block;
	float:none;
	margin:5px auto 0;
}

.search-input form{
	width:100%;
}
.search-pagination{
	display:none;
}

.search-input .form-control{
	border: 3px solid #6d8089;
	border-radius:46px;
	border-right: medium none;
}
.search-input .btn {
	border-top: 3px solid #6d8089;
	border-bottom: 3px solid #6d8089;
	border-right: 3px solid #6d8089;
	border-radius:46px;

}

.search-input .btn .fa {
  font-size: 30px;
  font-weight: 300;
  color:#6d8089;
}
.search-input .btn span{
	display:none;
}

.page-count {
  font-weight: bold;
}

.single-table.active img {
  right: -11px;
  top: -6px;
}


.user-menu-right {
	text-align: center;
	width: 100%;
}
.user-menu-left {
	display:none;
}

.single-top-box {
  margin-bottom: 13px;
}


.traffic-info ul li {
  font-size: 19px;
  padding: 0 13px;
}
.traffic-info span {
  font-size: 12px;
}

.notification button {
  margin-top: 25px;

}

.creative-left-menu{
	display:none;
}
.flaw {
  margin-top: 125px;
}
.section-two {
  font-size: 17px;

}

.section-three p{
	text-align:justify;
}

.img-box {
  border: 10px solid #6fa192;
  height: 133px;
  margin: 0 auto;
  width: 197px;
  float:none;
}

.text-box {
  font-family: "AmericanTypewriter";
  padding: 0 12px;
  text-align: justify;
  width: 100%;
}

.text-box h4 {
  text-align: center;
}
.section-six .item {
  margin: 0 auto;
  width: 100%;
}


}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

#cms-area img {
  width: 46%;
}
.contact-social ul li a {
  font-size: 27px;
  height: 50px;
  width: 50px;
}

.contact-info ul li {
  display: inline-block;
  margin-right: 7px;
  padding: 9px 0;
  width: 48%;
}

.sub-btn {
  font-size: 34px;

}
#message {
  right: -10px;
  top: 3px;
  z-index: 999;
}
.responsive-price-table{
	background: #e99620 none repeat scroll 0 0;
	border-radius: 42px;
	box-shadow: 0 7px 2px 0 #c04c3c;
	height: 279px;
	margin-bottom: 23px;
	padding-top: 18px;
	
}
.responsive-price-table button{
	background: #2c3236 none repeat scroll 0 0;
	border: medium none;
	border-radius: 13px;
	box-shadow: 1px 5px 1px -2px #7a8f99;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	height: 68px;
	text-transform: uppercase;
	width: 203px;
	margin-top: 44px;
}
.responsive-price-table h3{
	font-size:44px;
	
}
.price{
	font-size: 40px;
}

.notification button {
  margin-top: 53px;
}


} 
   
   
   
   
   
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



/************/

/*
 *
 * Default CSS for UberAccordion
 * Skin Me s'il vous plait
 *
 */

.uberAccordion {
   padding: 0;
   margin:0;
}

.uberAccordion > li {
    list-style: none;
    margin: 0;
}

.uberAccordion > li > h1 {
    background-color: #dde4e6 ;
    margin: 0;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.uberAccordion > li > div {
    background-color: #ecf0f1 ;
    padding: 15px;
}


/* Default CSS for sub-accordion */

.uberAccordion .uberAccordion > li > h1 {
    font-size: 12px;
    padding: 5px;
}

.uberAccordion .uberAccordion > li > div {
   background-color: #666666;
   color: #FFF;
}


/* Default CSS for vertical orientation */

.uberAccordion.accordion-vertical {
    height: 300px;
}

.uberAccordion .uberAccordion.accordion-vertical {
    height: 260px;
}


/**************/





